
/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 21px;
    font-weight:700;
    background-color: #61132d;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
.btn-contato button:hover{
    transform: scale(1.05);
}

h2.titulo{
    color: white;
    font-size: 30px;
    text-align: center;
}
h2.titulo span{
    color: #61132d;
    font-size: 30px;
}


/*ESTILO DO CABEÇALHO*/

header{
    padding: 10px 4%;
    padding-bottom: 0;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
header > .interface .logo h2{
    width: 100px;
    height: 60px;
    color: #61132d;
    transition: .2s;
    margin-top: 30px;
    margin-right: 130px;
}

header a{
    color: #7b7b7b;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header nav.menu-desktop a:hover{
    color: white;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}
header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 68px;
    width: auto;
}

.btn-abrir-menu i,nav{
    display: block;
}
.nav-mobile{
    display: none;
}

/*ESTILO DO TOPO DO SITE*/

section.topo-do-site{
    padding: 20px 4%;
    margin-bottom: 50px;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    color: white;
    font-size: 40px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #61132d;
    font-size: 405;
}

.topo-do-site .txt-topo-site p{
    color: white;
    margin: 40px 0;
}
.topo-do-site .img-topo-site img{
    width: 280px;
    border-radius: 10%;
    position: relative;
    display: flex;
    margin-bottom: 50px;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top:0
    }
    100%{
        top: 30px;
    }
}


/*ESTILO DAS ESPECIALIDADES*/

section.especialidades{
    padding: 0px 8%;
    margin-bottom: 20px;
    width: 100vw;
    height: 100vh;
}
 section .flex2{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(270px, 1fr)); /* Cria colunas automáticas com largura mínima de 100px */
    gap: 10px;
}
.especialidades .especialidades-box{
    color: white;
    padding: 20px;
    width: 200px;
    margin-top: 40px;
    border-radius: 20px;
    transition: .2s;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.0);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.452);
}
.especialidades .especialidades-box i{
    font-size: 50px;
    color: #61132d;
}
.especialidades .especialidades-box p{
    font-size: 12px;
    color: #61132d;
    margin-top: 10px;
    text-align: center;
}


/*ESTILO SOBRE*/

section .sobre{
    width: 100vw;
    padding: 80px 4%;
}
section .sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre{
    color: white;
    width: 600px;
    margin-left: 100px;
}
.flex .img-sobre img{
    width: 350px;
    height: 350px;
    border-radius: 25px;
    margin: auto;
    transition: .2s;   
}
.flex .img-sobre img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(61, 58, 58);
}
.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
    color: #61132d;
    display: inline-block;
    margin-top: 10px;
}
.sobre .txt-sobre p{
    margin: 10px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #61132d;
    font-size: 22px;
    cursor: grab;
    margin: 20px 50px;
    transition: .2s;
}
.btn-social button:hover{
    transform: scale(1.05);
}



/*ESTILO PORTIFÓLIO*/
section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.267);
}
section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}
.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.582);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}




/*ESTILO DO RODAPÉ*/

footer{
    padding: 0px 4%;
    box-shadow:0 0 30px 50px #000000;
    text-align: center;
    justify-content: center;
}
footer .flex{
    justify-content: space-between;
    
}
footer .line-footer{
    margin: -8px;
    padding: 16px 0;
}
.borda{
    border-top: 1px solid #61132d;
}
footer .line-footer p i{
    color: #61132d;
    font-size: 15px;
}

footer .line-footer p a{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
footer .line-footer img{
    cursor: pointer;
}



 /*RESPONSIVO*/



@media screen and (max-width: 1020px){
    /*Classes gerais*/
    .flex{
        flex-direction: column;
    }
    h2.titulo{
        font-size: 30px;
        line-height: 30px;
    }
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }
    /*Cabeçalho*/
    .menu-desktop, .btn-contato{
        display: none;
    }
    header > .interface .logo h2{
        width: 100px;
        height: 0;
        color: #61132d;
        transition: .2s;
    }
/*Topo do site*/

section .topo-do-site .flex{
    gap: 10px;
}
.topo-do-site h1{
    font-size: 30px;
    margin-bottom: 10px;
}
section .topo-do-site{
    padding: 10px 8%;
}
.topo-do-site .img-topo-site img{
    display: none;
}
.topo-do-site .txt-topo-site h1{
   text-align: center;
   
}
.topo-do-site .txt-topo-site p {
    display: inline;
}

/*ESTILO MENU MOBILE*/
.nav-mobile{
    display: block;
}
.btn-abrir-menu i, nav{
    color: #61132d;
    font-size: 40px;
    display: block;
}

.menu-mobile{
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}
.menu-mobile.abrir-menu{
    width:45%;
}
.btn-abrir-menu{
    display: block;
    cursor: pointer;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}
.menu-mobile .btn-fechar i{
    color: #61132d;
    font-size: 30px;
}
.menu-mobile nav ul{
    text-align: left;
}
.menu-mobile nav ul li a{
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}
.menu-mobile nav ul li a:hover{
    background-color: #61132d;
    color: black;
    font-weight: 600;

}
.overlay-menu{
    background-color: rgba(0, 0, 0, 0.726);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}



/*ESPECIALIDADES*/

section.especialidades{
    padding: 40px 4%;
    width: 100vw;
    height: 60vh;
}

.especialidades .especialidades-box{
    color: white;
    padding: 20px;
    transition: .2s;
}


/*Sobre*/

section.sobre{
    padding: 80px 8%;
    margin-bottom: 50px;
    margin-top: 300px;
}
.sobre .txt-sobre h2{
    display: grid;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
}
section .flex2{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Cria colunas automáticas com largura mínima de 100px */
    gap: 10px;
}

.especialidades .especialidades-box{
  
    display: flex;
    color: white;
    padding: 10px;
    width: 90px;
    text-align: center;
    border-radius: 20px;
    transition: .2s;
}

section .sobre{
    width: 100vw;
    padding: 40px 2%;
}
section .sobre .flex{
    align-items: center;
    gap: 30px;
}
.sobre .txt-sobre{
    color: white;
    width: 300px;
    margin: auto;
    height: 55vh;
}



.flex .img-sobre img{
    display: none;
}

.sobre .txt-sobre h2{
    font-size: 29px;
    line-height: 30px;
   
}

.sobre .txt-sobre p{
    margin: 10px 0;
    text-align: left;
}

.btn-social button{
        margin: 0px auto;
        justify-content: space-around;
}



/*Portifolio*/

section.portifolio{
    
    margin-top: 20%;
    padding: 10% 8%;
}

.img-port{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}
section.portifolio .flex{
    gap:60px;
}

/*Rodapé*/

footer .flex{
    flex-direction: column;
}
footer .line-footer{
    text-align: center;
}
footer .line-footer img{
    display: none;
}
.flex .img-sobre img{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}}